* {
    margin: 0;
    padding: 0;
}
.menufix{
        position: fixed;
    width: 100%;
    background: #e08f15ad !important;
    z-index: 100;
    border-radius: inherit;
}
.isup{
        width: 40px;
    height: 40px;
    background: orange;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 2%;
    padding-top: 8px;
    padding-left: 13px;
    z-index:11;
}
.fa-map-marker,.fa-phone{
    background: #f16400;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}
.cont-lh{
        position: absolute;
        top: 50%;
        right: 0;
        color: white;
        width: 50%;
        font-size: 15px;
        display:  flex;
}
.cont-lh p{
    margin-bottom: 10px;
}
.map{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
}
#idlienhe{
  margin-top: 35px;
  position: relative;
}
#gt1{
    transform: translateX(-50px);
    opacity: 0;
}
#gt2{
    transform: translateX(50px);
    opacity: 0;
}
.intent{
    transform: scale(0.4);
    opacity: 0;
}
.div-mk h3{
    color: #e86b00;
}
.div-mk p{
    color: #7d7d7d;
}
.div-mk{
    transform: translateY(-100px);
    opacity: 0;
}

.img-ke{
    margin-bottom: 30px;
}
.lbl-nt{
        font-family: 'Sriracha', cursive;
        text-align: center;
        color: #55c301;
        font-size: 36px;
        margin-bottom:  0;
}
.intent{
        position: absolute;
        top: 10%;
        width: 80%;
        text-align: justify;
        left: 10%;
        background: #ffffffd1;
        height: 80%;
        color: #003fcc;
        padding: 10px;
}
.tin1{
   /*  background-image: url(./images/tin1.jpg);
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%; */
}
.img-gt-bg{
    /* transform: translateX(-200px);
    opacity: 0; */
    /* transition: 0.5s; */
}
.lec_title_counter span{
        margin-left: -7px !important;
}
.div-gt{
        
    
    text-align: center;
}
.div-gt h2{
    font-family: 'Sriracha', cursive;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #de8f00;
}
.lec_go{
    animation: 0.7s dilen forwards;
    opacity: 0;
    animation-delay: 2.5s;
}
@-webkit-keyframes dilen{
    0%{transform: translateY(20px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.tontai{
    position: absolute;
    color: #d3d604;
    font-size: 37px;
    top: 69%;
    left: 54%;
    font-family: 'Pacifico', cursive;
    text-transform: lowercase;
    /* transform: rotate(9deg); */
    animation: 0.5s tora forwards;
    opacity: 0;
    animation-delay: 2.2s;
}
@-webkit-keyframes tora{
    0%{    transform: scale(0) rotate(9deg);opacity: 0;}
    100%{    transform: scale(1) rotate(9deg);opacity: 1;}
}
.img-arrow{
    position: absolute;
    left: 69%;
    top: 47%;
        
}
#ismkt{
        margin-top: 31px;
}
.a_arrow{
    animation: 0.2s hienra forwards;
    /* opacity: 0; */
    animation-delay: 2s;
    opacity: 0;
}
@-webkit-keyframes hienra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.slogan{
    position: absolute;
    color: #ffc6c6;
    font-size: 48px;
    top: 46%;
    font-family: 'Pacifico', cursive;
    animation: 0.7s sangphai forwards;
    opacity: 0;
    padding-left: 50px;
    animation-delay: 1.5s;
}
@-webkit-keyframes sangphai{
    0%{transform: translateX(-100px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
.char1,.char2,.char3,.char4,.char5,.char6,.char7,.char8,.char9,.char10,.char11,.char12,.char13,.char14,.char15,.char16{
    animation: 1s dixuong forwards;
    opacity: 0;
    
}
.char2{
    animation-delay: 0.1s
}
.char3{
    animation-delay: 0.2s
}
.char4{
    animation-delay: 0.3s
}
.char5{
    animation-delay: 0.4s
}
.char6{
    animation-delay: 0.5s
}
.char7{
    animation-delay: 0.6s
}
.char8{
    animation-delay: 0.7s
}
.char9{
    animation-delay: 0.8s
}
.char10{
    animation-delay: 0.9s
}
.char11{
    animation-delay: 1.0s
}
.char12{
    animation-delay: 1.1s
}
.char13{
    animation-delay:1.2s
}
.char14{
    animation-delay: 1.3s
}
.char15{
    animation-delay: 1.4s
}
.char16{
    animation-delay: 1.5s
}
@-webkit-keyframes dixuong{
    0%{transform: translateY(-100px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
/*Gold Letter*/
.lec_gold span {
    display: inline-block;
    text-indent: -10000px;
    /* background-image: url(../images/selima_fire.png); */
    margin-left: -7px;  
    background-size: 2160px 163px;
}
.lect2 span {
    display: inline-block;
    text-indent: -10000px;
    /* background-image: url(../images/selima_gold_mini.png) !important; */
    margin-left: -7px;  
    background-size: 100% !important;
}


div.lec_gold{
    text-align: center;
    padding-top: 45px;
}
.lect1 span{
        margin-left: -23px !important;
}
.bg{
    background: url(images/bg1.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      width: 100%;
    height: 650px;
    position: relative;
}
.navbar-default {
    background-color: unset;
    border-color: unset;
    border: unset;
    padding: 10px;
    transition: 0.5s;
}
.nav a{
    color: white !important;
}
.nav a i{
    color: #e2b55d !important;
    font-size:  18px;
}